<div class='container'>
    <div class="row">
        <div class="typography-line">
            <h5>Plan Management</h5>
        </div>
    </div>
</div>
<div class='container-fluid' id='tblPLAN'>
    <div class='row'>
        <table class='table'>
            <thead>
                <tr>
                    <th>Plan ID</th>
                    <th>Plan Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='plan in plans'>
                    <td>
                        {{ plan.ID }}
                    </td>
                    <td>
                        {{ plan.Name }}
                    </td>
                    <td>
                        <a href='' v-on:click.stop.prevent='loadUpdatePlanModal(plan.ID)'>Detail</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class='modal fade' id="updatePlanModal">
    <div class='modal-dialog modal-lg' role='document'>
        <div class='modal-content' id='formUpdatePlan'>
            <div class='modal-header'>
                <h5 class='modal-title'>Details</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close' v-on:click='reload'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <form class='form-horizontal col-sm-12' id="permissionUpdate">
                    <div class='form-group'>
                        <label>Name</label>
                        <input class='form-control' name='Name' type='text' v-model='plan.Name'/>
                    </div>
                    <div class='form-group'>
                        <label>Description</label>
                        <input class='form-control' name='Description' type='text' v-model='plan.Description'/>
                    </div>
                    <div class='form-group'>
                        <label>Father Plan ID</label>
                        <input class='form-control' name='FatherPlanID' type='text' v-model='plan.FatherPlanID'/>
                    </div>
                </form>
                <h6> Current User </h6>
                <table class='table'>
                    <thead>
                        <tr>
                            <th> User ID</th>
                            <th> User Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for='data in user'>
                            <td> {{ data.ID }}</td>
                            <td> {{ data.Name }}</td>
                        </tr>
                    </tbody>
                </table>
                <h6> Current Department </h6>
                <table class='table'>
                    <thead>
                        <tr>
                            <th>Department ID</th>
                            <th>Department Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for='data in department'>
                            <td> {{ data.ID }}</td>
                            <td> {{ data.Name }}</td>
                        </tr>
                    </tbody>
                </table>
    
                <h6> Finished Children Plans </h6>
                <table class='table'>
                    <thead>
                        <tr>
                            <th>Plan ID</th>
                            <th>Plan Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for='data in doneplan'>
                            <td> {{ data.ID }}</td>
                            <td> {{ data.Name }}</td>
                        </tr>
                    </tbody>
                </table>
                <h6> On Going Children Plans </h6>
                <table class='table'>
                    <thead>
                        <tr>
                            <th>Plan ID</th>
                            <th>Plan Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for='data in ongoingplan'>
                            <td> {{ data.ID }}</td>
                            <td> {{ data.Name }}</td>
                        </tr>
                    </tbody>
                </table>
    
    
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-primary' v-on:click.stop.prevent='update(plan)'>Update</button>
            </div>
        </div>
    </div>
</div>


<script>
    var plans = new Vue({
        el: '#tblPLAN',
        data: {
            plans: [],
            isLoad: false,
        },

        methods: {
            displayTime: (t) => {
                if (!t.seconds)
                    return '';
                return new Date(t.seconds * 1000).format('d/m/Y');
            },

            loadUpdatePlanModal: (ID) => {
                post('/r/plan/SelectPlanUser',{ID: ID}).then(res => {
                    if (res.Data) {
                        tmp = res.Data
                        formUpdatePlan.user = tmp;
                    } else {
                        formUpdatePlan.user = [];
                    }
                }).catch(err => {
                    if (isAuthenTokenOK())
                        $.notify({
                            message: err.data,
                            type: 'danger',
                            placement: {
                                from: 'top',
                                align: 'center'
                            }
                        });
                });
                
                post('/r/plan/SelectPlanDepartment',{ID: ID}).then(res => {
                    if (res.Data) {
                        tmp = res.Data
                        formUpdatePlan.department = tmp;
                    } else {
                        formUpdatePlan.department = [];
                    }
                }).catch(err => {
                    if (isAuthenTokenOK())
                        $.notify({
                            message: err.data,
                            type: 'danger',
                            placement: {
                                from: 'top',
                                align: 'center'
                            }
                        });
                });

                post('/r/plan/DoneByID',{ID: ID}).then(res => {
                    if (res.Data) {
                        tmp = res.Data
                        formUpdatePlan.doneplan = tmp;
                    } else {
                        formUpdatePlan.doneplan = [];
                    }
                }).catch(err => {
                    if (isAuthenTokenOK())
                        $.notify({
                            message: err.data,
                            type: 'danger',
                            placement: {
                                from: 'top',
                                align: 'center'
                            }
                        });
                });

                post('/r/plan/OnGoingByID',{ID: ID}).then(res => {
                    if (res.Data) {
                        tmp = res.Data
                        formUpdatePlan.ongoingplan = tmp;
                    } else {
                        formUpdatePlan.ongoingplan = [];
                    }
                }).catch(err => {
                    if (isAuthenTokenOK())
                        $.notify({
                            message: err.data,
                            type: 'danger',
                            placement: {
                                from: 'top',
                                align: 'center'
                            }
                        });
                });
                
                post('/r/plan/SelectByID',{ID: ID}).then(res => {
                    if (res.Data) {
                        tmp = res.Data
                        formUpdatePlan.plan = tmp;

                        $('#updatePlanModal').modal('show');
                    }
                }).catch(err => {
                    if (isAuthenTokenOK())
                        $.notify({
                            message: err.data,
                            type: 'danger',
                            placement: {
                                from: 'top',
                                align: 'center'
                            }
                        });
                });        
            },
            
            loadPlanTable: () => {
                post('/r/plan/allDone').then(res => {
                    plans.isLoad = true;
                    if (!res.Data)
                        plans.plans = [];
                    else
                        plans.plans = res.Data;
                }).catch(err => {
                    if (isAuthenTokenOK())
                        $.notify({
                            message: 'Fail to load from server',
                            type: 'danger',
                            placement: {
                                from: 'top',
                                align: 'center'
                            }
                        });
                });
            },
        }
    });

    var formUpdatePlan = new Vue({
        el: '#formUpdatePlan',
        data: {
            plan: {},
            user: [],
            department: [],
            doneplan: [],
            ongoingplan: [],
        },
        methods: {
            update: (plan) => {
                post('/r/plan/update', plan).then(res => {
                    $('#updatePlanModal').modal('hide');
                    plans.loadPlanTable();
                    $.notify({
                        message: 'Success',
                        type: 'success',
                        placement: {
                            from: 'top',
                            align: 'center'
                        }
                    });
                }).catch(err => {
                    if (isAuthenTokenOK())
                        $.notify({
                            message: err.data,
                            type: 'danger',
                            placement: {
                                from: 'top',
                                align: 'center'
                            }
                        });
                });
            },
            reload: () => {
                plans.loadPlanTable();
            },
        }
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip({
            html: true
        });

        // load group table
        plans.loadPlanTable();
    });
</script>