<div class='container'>
    <div class="row">
        <div class="typography-line">
            <h5>Action Management</h5>
        </div>
    </div>
</div>
<div class='container-fluid' id='tblACTION'>
    <div class='row'>
        <table class='table'>
            <thead>
                <tr>
                    <th>Action Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='action in actions'>
                    <td>
                        {{ action.Name }}
                    </td>
                    <td>
                        {{ action.Description }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class='row justify-content-center'>
        <ul v-bind:class="[isLoad ? 'pagination' : 'hide']">
            <li v-bind:class="[page > 1 ? 'page-item' : 'hide']">
                <a class='page-link' aria-label='Trước' v-on:click='pageChange(-1)'>
                    <span aria-hidden='true'>
                        <i class='fa fa-angle-double-left' aria-hidden='true'></i>
                    </span>
                </a>
            </li>
            <li class='page-item active'>
                <a class='page-link' href='#'>{{ page }}</a>
            </li>
            <li class='page-item'>
                <a class='page-link' aria-label='Sau' v-on:click='pageChange(1)'>
                    <span aria-hidden='true '>
                        <i class='fa fa-angle-double-right' aria-hidden='true'></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class='row justify-content-center'>
        <button type='button' class='btn btn-primary' data-toggle='modal' id='btnCreate'>
            Create New Action
        </button>
    </div>
</div>

<div class='modal fade' id='saveActionModal'>
    <div class='modal-dialog modal-lg' role='document'>
        <div class='modal-content' id='formSaveAction'>
            <div class='modal-header'>
                <h5 class='modal-title'>Save Action</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close' v-on:click='reload'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <form class='form-horizontal col-sm-12'>
                    <div class='form-group'>
                        <label>Name</label>
                        <input class='form-control' name='Name' type='text' v-model='action.Name' />
                    </div>
                    <div class='form-group'>
                        <label>Description</label>
                        <input class='form-control' name='Description' type='text' v-model='action.Description' />
                    </div>
                </form>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-primary' v-on:click.stop.prevent='save(action)'>Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    var actions = new Vue({
        el: '#tblACTION',
        data: {
            actions: [],
            page: 1,
            isLoad: false,
        },
        methods: {
            displayTime: (t) => {
                if (!t.seconds)
                    return '';
                return new Date(t.seconds * 1000).format('d/m/Y');
            },

            loadActionsTable: () => {
                p = actions.page;
                post('/r/action/view', {
                    offset: (p - 1) * 5,
                    limit: 10
                }).then(res => {
                    actions.isLoad = true;
                    if (!res.Data)
                        actions.actions = [];
                    else
                        actions.actions = res.Data;
                }).catch(err => {
                    if (isAuthenTokenOK())
                        $.notify({
                            message: 'Fail to load from server',
                            type: 'danger',
                            placement: {
                                from: 'top',
                                align: 'center'
                            }
                        });
                });
            },

            pageChange: (v) => {
                actions.page = actions.page + v < 1 ? 1 : actions.page + v;
                actions.loadActionsTable();
            },
        }
    });

    var formSaveAction = new Vue({
        el: '#formSaveAction',
        data: {
            action: {},
        },
        methods: {
            save: (action) => {
                post('/r/action/save', action).then(res => {
                    $('#saveActionModal').modal('hide');
                    actions.loadActionsTable();
                    $.notify({
                        message: 'Success',
                        type: 'success',
                        placement: {
                            from: 'top',
                            align: 'center'
                        }
                    });
                }).catch(err => {
                    if (isAuthenTokenOK())
                        $.notify({
                            message: err.data,
                            type: 'danger',
                            placement: {
                                from: 'top',
                                align: 'center'
                            }
                        });
                });
            },
            reload: () => {
                actions.loadActionsTable();
            }
        }
    });


    $(function () {
        $('[data-toggle="tooltip"]').tooltip({
            html: true
        });

        // load action table
        actions.loadActionsTable();

        $('#btnCreate').unbind('click').click(e => doubleClickPrevent($(this), function (e) {
            e.preventDefault();
            formSaveAction.action = {
                Name: '',
                Description: '',
            }
            $('#saveActionModal').modal('show');
        }, e));
    });
</script>